.container-dashboard{
    height: 100%;
}
.container-dashboard .add-consulta{
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: large;
    color: aliceblue;
    background-color: #33b389;
}
.add-consulta:hover{
    height: 55px;
    width: 55px;
}
